* {
    margin: 0px;
    padding: 0px;
}

.background {
    height: 100%;
    width: 100vw;
    background-color: black;
    position: absolute;
    display: flex;
    z-index: -999;
}

.background__canvas {
    height: 100%;
    width: 100vw;
}